<div class="container" style="height: 100vh;">

  <a routerLink="/produtos" class="btn btn-primary mt-2 mb-2"><span class="material-symbols-outlined align-middle">
      arrow_back
    </span></a>

  <h2>Carrinho</h2>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Itens do Pedido:</h5>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Preço Unitário</th>
            <th>Quantidade</th>
            <th>Preço Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pedido?.itemPedido" class="align-middle text-center">
            <td><img [src]="item.produto.imagem" alt="{{item.produto.nome}}" class="img-fluid"
                style="max-width: 100px;"></td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.produto.descricao }}</td>
            <td>{{ item.produto.categoria }}</td>
            <td>{{ item.produto.preco | currency:'BRL' }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.precoTotal | currency:'BRL' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <button type="button" (click)="navigateToHistorico()" class="btn btn-info">Historico</button>
        <button type="button" (click)="finalizarPedido()" class="btn btn-success">Finalizar</button>
      </div>
    </div>
  </div>

  <!-- Toast Sucess-->
  <div #toastSucessCarrinho role="alert" aria-live="assertive" aria-atomic="true" class="toast fade"
    data-bs-autohide="true" style="position: absolute; bottom: 0; right: 0;">
    <div class="toast-header">
      <strong class="me-auto">AtlCommerce</strong>
      <small>1s atrás</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria- label="Close"></button>
    </div>
    <div class="toast-body">
      <p>Pedido finalizado com sucesso!</p>
    </div>
  </div>

</div>
