<div class="d-flex justify-content-center align-items-center" id="fundoLogin" style="height: 100vh;">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form (ngSubmit)="onSubmitSignup()">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input [(ngModel)]="nomeSignup" type="text" name="nome" placeholder="Nome" required="">
        <input [(ngModel)]="emailSignup" type="text" name="email" placeholder="Email" required="">
        <input [(ngModel)]="loginSignup" type="email" name="login" placeholder="Login" required="">
        <input [(ngModel)]="senhaSignup" type="password" name="senha" placeholder="Senha" required="">
        <button type="submit">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form (ngSubmit)="onSubmitSignin()">
        <label for="chk" aria-hidden="true">Login</label>
        <input [(ngModel)]="loginSignin" name="login" type="text" placeholder="Usuário">
        <input [(ngModel)]="senhaSignin" name="senha" type="password" placeholder="Senha">
        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>

</div>
