<div class="container" style="height: 100vh;">

  <a routerLink="/produtos" class="btn btn-light mt-2 mb-2"><span class="material-symbols-outlined align-middle">
      arrow_back
    </span></a>

  <h2 class="text-white">Histórico de pedidos</h2>

  <div *ngFor="let pedido of pedidos">
    <div class="card mt-3">
      <div class="card-header">
        <strong>Pedido Nº:</strong> {{ pedido?.idPedido }}
        <span class="float-right">
          <strong>Data:</strong> {{ pedido?.dataPedido || 'N/A' }}
        </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">Itens do Pedido:</h5>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Preço Unitário</th>
              <th>Quantidade</th>
              <th>Preço Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pedido?.itemPedido" class="align-middle text-center">
              <td><img [src]="item.produto.imagem" alt="{{item.produto.nome}}" class="img-fluid"
                  style="max-width: 100px;"></td>
              <td>{{ item.produto.nome }}</td>
              <td>{{ item.produto.descricao }}</td>
              <td>{{ item.produto.categoria }}</td>
              <td>{{ item.produto.preco | currency:'BRL' }}</td>
              <td>{{ item.quantidade }}</td>
              <td>{{ item.precoTotal | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
